$blue:#324157;
$light-blue:#3A71A8;
$red:#f56c6c;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$primary: #409EFF;
$black: #000000;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$line:#e4e7ed;
